Naod Developer <naod@zegaai.com> tsi1221 <tsehayneshbiruh2@gmail.com>
Naod Developer <naod@zegaai.com> tsehaynesh B. <tsehayneshbiruh2@gmail.com>
Naod Developer <naod@zegaai.com> Alazar-io <lazarus4142@gmail.com>
Naod Developer <naod@zegaai.com> Fikretsion <fkretsion7@gmail.com>